.wellcome{
    font-size: 48px;
    padding-bottom: 10px;
    background-color: white;
}

.intro{
    font-size: 24px;
    padding-bottom: 15px;
    background-color: white;
}

.expand{
    height: 1200px;
}