.mainArea{
    border: 1px solid red;
    display: flex;
    flex: 1;
    overflow: auto;
}

.header-area{
    border: 1px solid purple;
    height: 100px;
}

.border {
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 0px 10px 10px 10px;
}

.leftCol{
    border: 1px solid blue;
    padding: 15px;
    box-sizing: border-box;
}

.mainCol{
    box-sizing: border-box;
    height: 100%;
    border: 1px solid orange;
    flex: 1;
    overflow: auto;
    padding: 15px 25px 10px 25px;
}

.glossary{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.glossary li{
    cursor: pointer;
    padding: 2px 4px 2px 4px;
}

.glossary li:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    color: blue;
}

body {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}

h2{
    margin-top: 5px;
}

.glossary .material-symbols-outlined {
  vertical-align: text-top;  
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' -25,
  'opsz' 20
}

.focused{
    border-color: blue;
    box-shadow: -4px 4px 10px rgb(100 100 100 / 60%);
}